# Server Configuration
PORT=5000

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/rjit_erp?schema=public"

# Authentication
JWT_SECRET="rjit_erp_secret_key_2026_change_me_in_production"
